{
  "extends": ["nextjs", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "no-console": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off"
  },
  "plugins": ["react", "import", "react-hooks", "prettier"]
}
